:root {
    --aside-color: #ffb606;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/about-bg.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    padding: 25% 0%;
}

.Blog {
    text-align: center;
    color: var(--primary-color);
}

.Blog h1 {
    color: var(--text-seccolor);
    font-size: var(--font-xlarge);
}

.Blog a {
    color: var(--text-seccolor);
    font-size: var(--font-small);
}


/*********Photos************/

.Photoscon {
    background-color: var(--primary-color);
}

.col-4 {
    flex-basis: 33%;
    margin-bottom: 20px;
}

.img {
    height: 30vh;
    color: var(--text-seccolor);
    text-align: center;
}

.img1 {
    background: url(../images/blog/cat-post/cat-post-3.jpg) no-repeat center;
    background-size: cover;
    padding: 20px;
}

.img2 {
    background: url(../images/blog/cat-post/cat-post-2.jpg) no-repeat center;
    background-size: cover;
    padding: 20px;
}

.img3 {
    background: url(../images/blog/cat-post/cat-post-1.jpg) no-repeat center;
    background-size: cover;
    padding: 20px;
}

.blur {
    background-color: rgba(0, 0, 0, 0.7);
    height: 25vh;
}

.blur:hover {
    cursor: pointer;
    background-color: rgb(255, 182, 6, 0.7);
}

.img h5 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.blur p {
    color: var(--primary-color);
    padding-top: 5px;
}


/*******info**********/

.Infoo {
    align-items: flex-start;
    background-color: var(--primary-color);
    /**justify-content: flex-start;*/
}

.contains {
    padding: 5% 10%;
}

.contain-right {
    /* padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%; */
    flex-basis: 60%;
}

.col-8 {
    flex-basis: 60%;
    align-items: flex-start;
}

.col-12 {
    align-items: flex-start;
}

img {
    margin-bottom: 10px;
}

.info-img h4 {
    color: var(--text-bcolor);
    font-size: 24px;
}

.col-4 h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-transform: capitalize;
}

.info .col-6 {
    text-align: end;
}

.col-4 h4:hover,
.col-6 span:hover,
.col-6 span:nth-child(2),
.col-6 p:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.col-4 p,
.col-6 p {
    color: var(--default-color);
}

.col-6 span {
    color: var(--default-colordark);
}

.col-6 i {
    color: var(--default-colordard);
    font-weight: 600;
    line-height: 20px;
    padding-left: 10px;
}

.col-4 p {
    margin-bottom: 15px;
}

.col-4 .info-img button {
    border: none;
    outline: none;
    margin: 20px 0;
}

.col-4 .info-img button a {
    color: #131230;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 15px 10px;
    background-color: #f9f9ff;
    transition: all 200ms linear;
}

.col-4 .info-img button:hover a {
    color: #fff;
    background-color: var(--aside-color);
}


/*******nums****/

.nums a {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--default-colordark);
    padding: 5px;
    margin: 7px;
}

.nums a:hover,
.nums a:nth-child(3) {
    background-color: var(--aside-color);
    color: var(--primary-color);
}


/*******Aside********/

.contain {
    /* padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%; */
    flex-basis: 35%;
}

aside {
    background-color: var(--link-color);
    height: auto;
    border: 1px solid #eeeeee;
    margin-left: 10%;
}

.side {
    padding: 0 2% 8% 8%;
    margin: 40px 0;
}

.side form {
    position: relative;
    border-bottom: 1px dotted var(--default-color);
    ;
    padding-bottom: 30px;
}

.side input {
    width: 100%;
    padding: 7px 0;
    background-color: var(--aside-color);
    border: none;
    outline: none;
    border-radius: 50px;
    color: var(--primary-color);
}

.side form i {
    position: absolute;
    right: 5px;
    color: var(--primary-color);
}

.side img {
    display: block;
    margin: 20px auto;
    width: 100%;
}

.personal-data p {
    color: var(--default-color);
    ;
}

.personal-data p,
.personal-data h5 {
    text-align: center;
}

.side .icon i {
    color: #3a2d29;
    font-size: 14px;
    line-height: 14px;
    margin: 5px;
}

.side .icon i:hover {
    color: var(--aside-color);
    cursor: pointer;
}


/**********Ppular Posts**/

.popular-posts,
.post-catgories,
.new-sletter,
.tag-clouds {
    border-top: 1px dotted var(--default-color);
    padding: 30px 0;
}

.popular-posts h4,
.post-catgories h4,
.new-sletter h4,
.tag-clouds h4 {
    background-color: var(--aside-color);
    font-size: 24px;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
}


/******************/

.popular-posts h4:hover,
.post-catgories h4:hover,
.new-sletter h4:hover,
.tag-clouds h4:hover {
    color: #fff;
    cursor: text;
}

.post h5 {
    color: var(--text-bcolor);
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin-left: 15px;
}

.post p {
    font-size: 12px;
    line-height: 21px;
    margin-left: 15px;
}


/********post-catgories****/

.post-catgories .cat {
    justify-content: space-between;
    border-bottom: 1px dotted var(--default-color);
    ;
    padding-top: 10px;
}


/**********new-sletter*********/

.new-sletter p {
    text-align: center;
    padding-top: 5px;
}

.new-sletter form {
    border-bottom: none;
    padding-bottom: 10px;
}

.new-sletter form i {
    left: 10px;
    color: #495057;
    font-size: 12px;
}

.new-sletter form input {
    background-color: #fff;
    width: 60%;
    border-radius: 0;
    padding: 10px 0;
    padding-left: 30px;
}

.new-sletter form button {
    width: 40%;
    padding: 10px 0;
    color: var(--primary-color);
    background-color: var(--aside-color);
    list-style: none;
    outline: none;
    cursor: pointer;
}


/*********tag-clouds******/

.tag-clouds h4 {
    margin-bottom: 10px;
}

.tag-clouds a {
    text-decoration: none;
    color: var(--footer-bg);
    padding: 5px 10px;
    background-color: var(--cloud);
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid #eeeeee;
    font-size: 12px;
    line-height: 18px;
}

.tag-clouds a:hover {
    background-color: var(--aside-color);
    color: var(--primary-color);
}


@media(max-width:767px) {
    /******Photos********/
    .photo {
        flex-wrap: wrap;
    }
    .col-sm {
        flex-basis: 100%;
    }
    /*******<!-----------Photos-------->****/
    .info {
        margin-top: 10px;
    }
    .info img {
        width: 100%;
    }
    .Infoo,
    .wrap {
        flex-wrap: wrap;
    }
    .contain-right {
        padding-right: 11%;
    }
    .pad {
        padding: 0;
    }
    .contain {
        padding-left: 11%;
    }
    .side .post img,
    .go-Photo img {
        margin: 20px 0;
    }
    .strt {
        justify-content: flex-start;
    }
}

@media(min-width:767px) and (max-width:991px) {
    .photo {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .Infoo {
        flex-wrap: wrap;
    }
    .contain-right,
    .contain {
        padding: 6%;
    }
    .side {
        padding-left: 3%;
    }
    .col-md {
        flex-basis: 100%;
    }
    .side .post img,
    .go-Photo img {
        margin: 20px 0;
    }
    .strt {
        justify-content: flex-start;
    }
    .col-5 {
        flex-basis: 50%;
        margin: 0;
        padding: 0;
    }
    .col-5 .img {
        margin-bottom: 20px;
    }
    .marg {
        margin-right: 20px;
    }
    /*
    .pad-right{
        padding-right: 0;
    }*/
}

@media(min-width:991px) and (max-width:1330px) {
    .col-lg {
        flex-basis: 80%;
    }
    .container {
        padding: 3% 5%;
    }
    .contain-right {
        padding-right: 0;
    }
    .contain {
        padding-left: 0;
    }
    .side {
        padding-right: 0;
        padding-left: 0;
    }
}