header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/contact-bg.jpg) center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 25% 0%;
}

.Blog {
  text-align: center;
  color: var(--primary-color);
}

.Blog h1 {
  color: var(--text-seccolor);
  font-size: var(--font-xlarge);
}

.Blog a {
  color: var(--text-seccolor);
  font-size: var(--font-small);
}

.Blog p {
  color: var(--text-seccolor);
}

/* *********** */

.container {
  background-color: var(--primary-color);
}

/*********map************/
.map {
  width: 100%;
}
.map iframe {
  position: static;
}
/* .map {
  position: relative;
  top: 0;
}

.blur-map {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1111;
  top: 0;
  bottom: 0;
  width: 100%;
}  */

/************Contact-information********/

.contact-info {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.contact-info h5 {
  color: var(--footer-bg);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.cntct-data {
  display: flex;
}

.cntct-data i {
  padding-right: 10px;
  font-size: 20px;
  line-height: 20px;
}

/***************form-input******************/

.sec-md {
  display: flex;
}

#col-md {
  flex-basis: 50%;
  padding-right: 0;
  padding-left: 70px;
}

.form-input input {
  width: 100%;
  background-color: var(--primary-color);
  border: 1px solid var(--text-bcolor);
  padding: 15px 5px;
  margin-bottom: 20px;
}

/***********text-area***************/

.textar textarea {
  padding-top: 5px;
  padding-left: 5px;
  min-height: 30vh;
  max-height: 60vh;
  resize: vertical;
  width: 100%;
  border: 1px solid var(--text-bcolor);
  background-color: var(--primary-color);
}

.textar-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 10px 0;
}

.textar button a {
  color: #000;
}

.textar button:hover a {
  color: #000;
  background-color: var(--primary-color);
}

/***************media query************/

@media (max-width: 600px) {
  .contact-info {
    flex-wrap: wrap;
  }
  .sec-md {
    display: flex;
    flex-wrap: wrap;
  }
  .col-sm {
    flex-basis: 100%;
  }
  #col-md {
    flex-basis: 100%;
    padding-left: 0;
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  .contact-info {
    flex-wrap: wrap;
  }
  .col-sm {
    flex-basis: 100%;
  }
  .sec-md {
    display: flex;
  }
  #col-md {
    flex-basis: 100%;
    padding-left: 0;
  }
}
