@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
.container {
  padding: 5% 10%;
}

body {
  background-color: var(--primary-color);
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/about-bg.jpg) center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 25% 0%;
}

.Blog {
  text-align: center;
  color: var(--primary-color);
}

.Blog h1 {
  color: var(--text-seccolor);
  font-size: var(--font-xlarge);
}
.Blog a {
  color: var(--text-seccolor);
  font-size: var(--font-small);
}

/***********Text***********/

.text {
  background-color: var(--primary-color);
}

.Buttons {
  background-color: var(--primary-color);
}

.text h3,
.buttons h3,
.left-align h3,
.align-r h3,
.Definition h3,
.gallery h3,
.Form h3,
.switchs h3,
.selectboxes h3,
.Checkboxes h3,
.radios h3 {
  color: var(--footer-bg);
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
}

.text p {
  color: #777777;
  font-size: 14px;
  line-height: 26px;
}

.text b,
i,
sup,
sub,
u,
del {
  color: var(--text-color);
}

/***********Buttons*********/

.buttons button {
  margin-right: 20px;
  margin-bottom: 25px;
  outline: none;
  border: none;
}

.row3 button,
.row3 button a {
  border-radius: 25px;
}

.pad-r button a {
  padding-right: 50px;
}

/************left-align******/

.align h3 {
  color: var(--footer-bg);
}

.align {
  align-items: flex-start;
  margin-top: 20px;
}

.align-l img {
  margin-right: 20px;
}

.align p {
  color: #777777;
  font-size: 14px;
  line-height: 21px;
}

/*************Right-align****/

.align-r {
  text-align: right;
}

.align-r img {
  margin-left: 20px;
}

/**************Definition********/

.col-3 {
  flex-basis: 33%;
  height: 50vh;
}

.Definition,
.quotes {
  border-top: 0.5px dotted #eeeeee;
}

.Definition h3 {
  margin-bottom: 20px;
}

.Def h4 {
  color: var(--footer-bg);
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
}

.Def .col-3 p {
  color: #777777;
  font-size: 14px;
  line-height: 21px;
  padding-right: 35px;
}

/**************Block-Quotes*********/

.quotes h3 {
  color: var(--footer-bg);
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
}

.quotes h3 {
  margin-bottom: 20px;
}

.quotes p {
  border-left: 3px solid#f4e700;
  padding-left: 30px;
  color: #777777;
  font-size: 14px;
  line-height: 21px;
}

/********table*************/

table {
  width: 100%;
  border-collapse: collapse;
}

table tr {
  border: 1px solid #c5d4d6;
  border-right: none;
  border-left: none;
  text-align: center;
}

td,
th {
  padding: 15px;
  text-align: center;
}

tr {
  color: var(--default-colordark);
  font-size: 14px;
  line-height: 21px;
}

tr:nth-child(1) {
  color: var(--footer-bg);
}

table tr img {
  margin: 0 20px;
}

table tr th:nth-child(2) {
  display: flex;
  align-items: center;
}

/****progress***/

table .prog {
  line-height: 5px;
  font-size: 12px;
  height: 5px;
  color: var(--primary-color);
}

table .prog-1 {
  width: 75%;
  background-color: #6382e6;
}

table .prog-2 {
  width: 25%;
  background-color: #e66686;
}

table .prog-3 {
  width: 50%;
  background-color: #f09359;
}

table .prog-4 {
  width: 57%;
  background-color: #73fbaf;
}

table .prog-5 {
  width: 40%;
  background-color: #73fbaf;
}

table .prog-6 {
  width: 65%;
  background-color: #6382e6;
}

table .prog-7 {
  width: 20%;
  background-color: #a367e7;
}

table .prog-8 {
  width: 70%;
  background-color: #e66686;
}

/******************Photo-Galery*************/

.imgs {
  margin: 15px 10px;
}

.imgs img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.col-3,
.col-5 {
  height: 30vh;
}

.col-3 {
  flex-basis: 35%;
}

.imgs img {
  width: 100%;
  height: 100%;
}

.imgs .imag2 img {
  padding: 0 15px;
}

.col-5 {
  flex-basis: 50%;
}

/******************Typography****************/

.tags {
  font-weight: 700;
}

.tags h3 {
  color: var(--footer-bg);
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 10px;
}

.Tags-types {
  color: #777777;
}

.Tags-types h1 {
  font-size: 60px;
  line-height: 72px;
}

.Tags-types h2 {
  font-size: 42px;
  line-height: 50px;
}

.Tags-types h3 {
  color: #777777;
  font-size: 36px;
  line-height: 43px;
}

.Tags-types h4 {
  text-transform: capitalize;
  font-size: 24px;
  line-height: 28px;
}

.Tags-types h5 {
  text-transform: capitalize;
  font-size: 20px;
  line-height: 24px;
}

.Tags-types h6 {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
}

/*******unorder-list*******/

.unorder-list,
.Order-list {
  padding: 0 5px;
}

.unorder-list ul {
  list-style: none;
}

.unorder-list ul li::before {
  content: "\26AC";
  color: var(--prim-color);
  padding-right: 5px;
  font-size: large;
}

.unorder-list li,
.Order-list li {
  color: #777777;
}

/***********Ordered-List******/

.Order-list ol {
  list-style: none;
  counter-reset: li;
}

.Order-list li {
  padding-top: 5px;
}

li {
  counter-increment: li;
}

li::before {
  content: "0" counter(li);
  margin-right: 5px;
  color: var(--prim-color);
}

.sec-ordered li:nth-child(1)::before {
  content: "a.";
  padding-left: 30px;
}

.sec-ordered li:nth-child(2)::before {
  content: "ii";
  padding-left: 50px;
}

/************Form Element********/

.col-12-4 {
  flex-basis: 40%;
  padding-left: 20px;
}

.inputs input,
.inputs textarea {
  width: 100%;
  padding: 10px 5px;
  margin: 10px 5px;
  font-size: 14px;
  line-height: 40px;
  background-color: #f9f9ff;
  padding-left: 20px;
}

.ico {
  background-color: #f9f9ff;
  margin: 10px 5px;
}

.ico input {
  padding: 0;
}

.ico i {
  padding-left: 10px;
  color: var(--default-color);
}

.inputs textarea {
  height: 100px;
  resize: none;
}

/**********Switches*********/

.switch-check {
  justify-content: space-between;
}

.switch {
  padding: 10px 0;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: var(--primary-color);
  transition: 0.4s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider::before {
  position: absolute;
  content: " ";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: var(--link-color);
  box-shadow: 0 1px 5px #777777;
  transition: 0.4s;
}

.toggle-switch input:checked + .slider {
  background-color: var(--prim-color);
}

.toggle-switch input:focus + .slider {
  box-shadow: 0 0px 1px #777777;
}

.toggle-switch input:checked + .slider::before {
  transform: translateX(33px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.toggle-switch input:checked + #confirm {
  background-color: #49ccdb;
}

#confirm {
  background-color: var(--link-color);
}

/* #confirm::before{
    background-color: var(--link-color);
} */

/*********Selectboxes*****/

.Selectboxe {
  position: relative;
  margin: 10px 0;
}

.Selectboxe select {
  display: none;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #777777 transparent transparent transparent;
  z-index: 111;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #777777 transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  /* color: #000; */
  padding: 8px 16px;
  /* border: 1px solid #777777; */
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-selected {
  color: #777777;
}

.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  color: #777777;
  background-color: var(--primary-color);
  /* border: 1px solid #777777; */
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  color: var(--prim-color);
}

/************Checkboxs************/

.checkbox {
  justify-content: space-between;
  margin: 20px 0;
  color: var(--default-color);
}

.containeer-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox input:checked ~ .checkmark {
  background-color: #f894a9;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark::after {
  display: block;
}

.checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox input:checked ~ .confirm {
  background-color: #011a27;
  cursor: not-allowed;
}

.checkbox input:checked ~ .active {
  background-color: var(--default-color);
}

.checkbox-disable {
  cursor: not-allowed;
}

.checkbox-disable input {
  cursor: not-allowed;
}

/*********Radios***********/

.radio {
  justify-content: space-between;
  margin: 20px 0;
  color: var(--default-color);
}

.containeer-radio {
  position: relative;
  display: block;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  /* border-radius: 50%; */
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--link-color);
  border-radius: 50%;
}

.radio input:checked ~ .radiomark {
  background-color: #f894a9;
}

.radiomark::after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked ~ .radiomark::after {
  display: block;
}

.radiomark::after {
  /* left: 9px;
    top: 5px;
    width: 5px;
    height: 8px; */
  border: solid var(--link-color);
  border-width: 6px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio input:checked ~ .confirm {
  background-color: #011a27;
}

.radio input:checked ~ .active {
  background-color: var(--primary-color);
}

.disable {
  cursor: not-allowed;
}

/***********media-query*********/

@media (max-width: 767px) {
  .container {
    padding: 5% 10%;
  }
  /************left-align******/
  .align-l {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px 0;
  }
  /*************Right-align****/
  .align-right {
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .align img {
    margin: 20px 0;
  }
  /**************Definition********/
  .Def,
  .tags,
  .Form {
    flex-wrap: wrap;
  }
  .col-sm {
    flex-basis: 100%;
    height: auto;
    margin-top: 15px;
  }
  /********table*************/
  table {
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
  }
  .imgs {
    flex-wrap: wrap;
  }
  .imgs .imag2 img {
    padding: 0;
  }
  /**********Switches*********/
  .switch-check {
    justify-content: space-between;
  }
  .switch {
    padding: 10px 0;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .tags {
    flex-wrap: wrap;
  }
}
