/* header */


/* responsive Nav */

.respons-nav {
    display: block;
    position: absolute;
    top: 95%;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
}

.respons-nav li {
    display: block;
    padding: 2%;
}

.respons-btn {
    padding: 2%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    text-align: center;
    display: none;
    cursor: pointer;
}

.respons-btn i {
    font-size: 36px;
    color: var(--primary-color);
}


/*  */

.header {
    background-color: var(--primary-color);
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    top: 3vh;
    width: 90vw;
    margin-left: 5vw;
    padding: 1.5% 2%;
    border-radius: 5px;
}

.logo:focus,
.logo a:focus,
.logo a img:focus {
    outline: none;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.nav-list li {
    display: inline-block;
}

.header li a {
    text-decoration: none;
    color: var(--footer-bg);
    font-size: var(--font-small);
    font-weight: bolder;
    padding: 1vw;
}

.sub-nav {
    position: absolute;
    display: block;
    margin: 1em 2em;
    width: fit-content;
    line-height: 2;
    color: var(--footer-bg);
    background-color: var(--primary-color);
    opacity: 0;
}

.sub-nav li {
    display: block;
    margin-right: 8em;
}

.sub-nav li a {
    display: block;
}

.blog-nav:hover .sub-nav {
    display: block;
    opacity: 1;
    transform: translateY(-20px);
    transition: 1.5s ease;
}

.sub-nav li:hover a {
    color: var(--secondary-color);
}


/* End header */


/* screen responsive */

@media (max-width: 767px) {
    .nav-list {
        display: none;
    }
    .respons-btn {
        display: block;
    }
}

@media (min-width: 767px) and (max-width: 1000px) {
    .nav-list {
        display: none;
    }
    .respons-btn {
        display: block;
    }
}