iframe {
    position: absolute;
}

.secondary-color {
    color: var(--text-color);
}


/* banner */

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/menu-bg.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    padding: 25% 0%;
}

.banner p {
    font-size: var(--font-small);
    color: var(--primary-color);
}

.banner h1 {
    font-size: var(--font-xlarge);
    color: var(--primary-color);
}


/* End banner */


/* welcome */

.welcome {
    background: url(../images/food-bg.png) no-repeat;
    background-position: 100% 60%;
}

.welcomeB h3 {
    font-size: var(--font-medium);
}

.welcomeB div h3 span {
    font-style: italic;
}

.welcomeB-paragraph {
    color: var(--default-color);
}

.welB-group {
    align-items: stretch;
}

.welB-card {
    margin: 1%;
    background-color: var(--link-color);
}

.img-wrap {
    padding: 0;
    overflow: hidden;
}

.img-wrap img {
    width: 100%;
}

.welB-card:hover {
    cursor: pointer;
    background-color: var(--text-color);
}

.welB-card:hover img {
    transform: scale(1.2);
    transition: 1.5s;
}

.welB-card:hover span {
    color: var(--footer-bg);
}

.img-title {
    justify-content: space-between;
    padding: 5%;
    font-size: 24px;
}

.photos-des {
    color: var(--default-colordark);
    font-size: var(--font-small);
    padding: 10%;
}


/* End Welcome */


/* Book Table */

.book-your-table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15% 10%;
    background: linear-gradient(rgb(6, 7, 54, 0.4), rgb(6, 7, 54, 0.4)), url(../images/table-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.book-your-table .art-header h3 {
    color: var(--primary-color);
}

.book-your-table .art-header p {
    color: var(--primary-color);
}

.picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 60%;
}

.picker input {
    width: 30%;
    padding: 2%;
    font-size: var(--font-xsmall);
    border-radius: 5px;
    border: none;
}

.bk-btn {
    margin: 5%;
}


/* End Bood Table */


/* screen responsive */

@media (max-width: 767px) {
    .welcome {
        background-position: bottom right;
    }
    .welcomeA {
        flex-direction: column;
    }
    .welB-group {
        flex-wrap: wrap;
    }
    .picker {
        flex-direction: column;
        width: 100%;
    }
    .picker input {
        width: 100%;
        margin: 2%;
        font-size: 24px;
    }
}

@media (min-width: 767px) and (max-width: 1000px) {
    .welcome {
        background-position: bottom right;
    }
    .welcomeB-paragraph {
        padding: 0%;
    }
    .welB-group {
        flex-wrap: wrap;
    }
    .cards {
        grid-template-columns: repeat(5, 90vw);
    }
    .picker {
        width: 100%;
    }
}