/* banner */

.banner {
    background: url(../media/images/banner-bg.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    padding: 25% 0%;
}

.banner p {
    margin: 1em;
    font-size: var(--font-small);
    color: var(--white);
}

.banner h1 {
    font-size: var(--font-xlarge);
    color: var(--white);
}


/* End banner */


/* welcome */

.welcome {
    background: url(../media/images/food-bg.png) no-repeat;
    background-position: 100% 60%;
    padding: 5%;
}

.welcomeB h3 {
    font-size: var(--font-medium);
}

.welcomeB div h3 span {
    font-style: italic;
}

.welcomeB-paragraph {
    padding-right: 60%;
    margin-top: 2em;
    margin-bottom: 5em;
    color: var(--gray);
}

.welcomeB-photos {
    border-spacing: 1vw 3vw;
}

.welcomeB-photos td {
    vertical-align: top;
    background-color: var(--lightgray);
}

.welcomeB-photos td img {
    width: 100%;
}

.img-title {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    font-size: 24px;
}

.photos-des {
    color: var(--darkgray);
    font-size: var(--font-small);
    padding: 5%;
    margin-left: 10%;
    margin-bottom: 20%;
}

.img-wrap {
    padding: 0;
    overflow: hidden;
}

.welcomeB-photos td:hover img {
    transform: scale(1.2);
    transition: 1.5s;
}

.welcomeB-photos td:hover span {
    color: var(--darkblue);
}

.welcomeB-photos td:hover {
    cursor: pointer;
    background-color: var(--yellow);
    transition: 0.5s;
}


/* End Welcome */


/* Book Table */

.book-your-table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15% 10%;
    background: linear-gradient(rgb(6, 7, 54, 0.4), rgb(6, 7, 54, 0.4)), url(../media/images/table-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.book-your-table .art-header h3 {
    color: var(--white);
}

.book-your-table .art-header p {
    color: var(--white);
}

.picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 60%;
}

.picker input {
    width: 30%;
    padding: 2%;
    font-size: var(--font-xsmall);
    border-radius: 5px;
    border: none;
}

.update-btn {
    padding: 1% 3%;
}


/* screen responsive */

@media (max-width: 767px) {
    .welcome {
        background-position: bottom right;
    }
    .welcomeB-paragraph {
        padding: 0%;
    }
    tbody,
    tr,
    td {
        display: block;
    }
    .book-your-table {
        padding: 10%;
    }
    .picker {
        flex-direction: column;
        width: 100%;
    }
    .picker input {
        width: 100%;
        margin: 2%;
        font-size: 24px;
    }
}

@media (min-width: 767px) and (max-width: 1000px) {
    .welcome {
        background-position: bottom right;
    }
    .welcomeB-paragraph {
        padding: 0%;
    }
    .cards {
        grid-template-columns: repeat(5, 90vw);
    }
    .picker {
        width: 100%;
    }
}