/**************General*********/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    font-family: "Playfair Display", serif;
}

.lightroot {
    --primary-color: #fff;
    --secondary-color: #ebae21;
    --footer-bg: #131230;
    --footer-color: #6e6b6b;
    --footer-backg: #131230;
    /********Elements-colors*****/
    --text-color: #ffb606;
    --text-seccolor: #ffffff;
    --text-bcolor: #000000;
    --default-color: #777777;
    --default-colordark: #343a40;
    --prim-color: #f8b600;
    --success-color: #4cd3e3;
    --info-color: #38a4ff;
    --warning-color: #f4e700;
    --Danger-color: #f44a40;
    --link-color: #f9f9ff;
    --cloud: #fff;
    /**********fonts-size********/
    --font-xsmall: 14px;
    --font-small: 18px;
    --font-xmedium: 24px;
    --font-medium: 36px;
    --font-large: 42px;
    --font-xlarge: 64px;
    /**********flex-cols************/
    --col-3: 25%;
    --col-4: 33.33%;
    --col-6: 50%;
    --col-12: 100%;
    --col-8: 60%;
}

.darkroot {
    --primary-color: #0d1117;
    --secondary-color: #ebae21;
    --footer-bg: #58a6ff;
    --footer-color: #6e6b6b;
    --footer-backg: #000;
    /********Elements-colors*****/
    --text-color: #ffb606;
    --text-seccolor: #fff;
    --text-bcolor: #ffffff;
    --default-color: #8b949e;
    --default-colordark: #828b95;
    --prim-color: #f8b600;
    --success-color: #4cd3e3;
    --info-color: #38a4ff;
    --warning-color: #f4e700;
    --Danger-color: #f44a40;
    --link-color: #161b22;
    --cloud: #21262d;
    /**********fonts-size********/
    --font-xsmall: 14px;
    --font-small: 18px;
    --font-xmedium: 24px;
    --font-medium: 36px;
    --font-large: 42px;
    --font-xlarge: 64px;
    /**********flex-cols************/
    --col-3: 25%;
    --col-4: 33.33%;
    --col-6: 50%;
    --col-12: 100%;
    --col-8: 60%;
}

iframe {
    position: absolute;
    /* z-index: 99999; */
}

#footer iframe {
    height: 45%;
}

.container {
    padding: 5% 10%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-6 {
    width: 50%;
    margin: 0 10px;
    padding: 0 10px;
}


/***********commont Artical********/

.art-header {
    text-align: center;
    padding: 5%;
}

.art-header h3 {
    color: var(--text-bcolor);
    font-size: var(--font-medium);
}

.art-header p {
    font-style: italic;
    color: var(--default-color);
}


/* Toggle Between Modes */

.toggle-btn {
    position: fixed;
    top: calc(100vh - 145px);
    left: 0;
    background-color: #fff;
    width: 30px;
    height: 145px;
    border-radius: 40px;
    z-index: 5;
}

.oricheck {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.toggle-btn span {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    opacity: 1;
    background-color: #fff;
    box-shadow: 0px 2px 10px #d9d9d9;
    border-radius: 40px;
    transition: 0.2s ease background-color, 0.2s ease opacity;
}

.toggle-btn span:before,
.toggle-btn span:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: 0.5s ease transform, 0.2s ease background-color;
}

.toggle-btn span:before {
    background-color: #fff;
    transform: translate(0px, -58px);
    z-index: 1;
}

.toggle-btn span:after {
    background-color: #000;
    transform: translate(0px, 8px);
    z-index: 0;
}

.toggle-btn input[type="checkbox"]:checked+span {
    background-color: #000;
}

.toggle-btn input[type="checkbox"]:active+span {
    opacity: 0.5;
}

.toggle-btn input[type="checkbox"]:checked+span:before {
    background-color: #000;
    transform: translate(0px, 58px);
}

.toggle-btn input[type="checkbox"]:checked+span:after {
    background-color: #fff;
    transform: translate(0px, 95px);
}


/*  End Toggle Between Modes */


/***********elements-btns**********/

.btn a {
    padding: 12px 30px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 40px;
    border: 1px solid transparent;
}

.btn-light,
.btn-link,
.btn-disable,
.btn-outline-disable,
.btn-outline-light:hover,
.btn-outline-disable:hover,
.btn-outline-link:hover {
    background-color: var(--link-color);
}

.btn-light a,
.btn-link a,
.btn-outline-link a,
.btn-outline-light a:hover,
.btn-link a:hover,
.btn-outline-link a:hover {
    color: var(--default-colordark);
}

.btn-primary,
.btn-outline-primary:hover a {
    background-color: var(--prim-color);
    color: var(--primary-color);
}

.btn-success,
.btn-outline-success:hover a {
    background-color: var(--success-color);
    color: var(--primary-color);
}

.btn-info,
.btn-outline-info:hover a {
    background-color: var(--info-color);
    color: var(--primary-color);
}

.btn-warn,
.btn-outline-warn:hover a {
    background-color: var(--warning-color);
    color: var(--primary-color);
}

.btn-Danger,
.btn-outline-Danger:hover a {
    background-color: var(--Danger-color);
    color: var(--primary-color);
}

.btn-link a {
    text-decoration: underline;
}

.btn-disable a,
.btn-outline-disable:hover a {
    color: #007bff;
    cursor: not-allowed;
}

.btn-light:hover,
.btn-link:hover,
.btn-outline-link,
.btn-outline-light {
    background-color: var(--primary-color);
}

.btn-outline-light a,
.btn-outline-disable a,
.btn-outline-disable:hover a {
    color: #0471e6;
    border: 1px solid #f9f9ff;
}

.btn-outline-primary a,
.btn-primary a:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--prim-color);
    color: var(--prim-color);
}

.btn-outline-success a,
.btn-success a:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--success-color);
    color: var(--success-color);
}

.btn-outline-info a,
.btn-info a:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--info-color);
    color: var(--info-color);
}

.btn-outline-warn a,
.btn-warn a:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--warning-color);
    color: var(--warning-color);
}

.btn-outline-Danger a,
.btn-Danger a:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--Danger-color);
    color: var(--Danger-color);
}


/*********media query**********/


/********Phone & Tab*******/

@media(max-width:767px) {
    #footer iframe {
        height: 100%;
    }
    .col-4 {
        flex-basis: 100%;
        margin: 5px 0;
    }
}

@media (min-width: 767px) and (max-width: 1000px) {
    #footer iframe {
        height: 60%;
    }
}